body {
    background-color: grey;
  }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
  }

.ph {
    height: 2.5%;
}

p#titleParagraph {
    margin: 0;
    padding: 0;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: Center;
  }

  #title {
    height: 25%;
    background-color: var(--primary-bg);
    font-size: 75pt;
    justify-content: center;
    align-items: center;
  }

  body.dark {
	background: #292C35;
    color: white;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 13px;
	width: 25px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 1px;
	left: 1px;
	height: 11px;
	width: 11px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}


.checkbox:checked + .label .ball {
	transform: translateX(12px);
}