:root {
    --body-bg:  rgb(192, 210, 228);
    --primary-bg: rgb(224, 240, 255);
    --shadow-color:  rgb(152, 205, 255);
    --mobileDesc-bg: rgb(192, 226, 228);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ph {
    height: 2.5%;
}

p#titleParagraph {
    margin: 0;
    padding: 0;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }