:root {
  --body-bg:  rgb(192, 210, 228);
  --primary-bg: rgb(224, 240, 255);
  --shadow-color:  rgb(152, 205, 255);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}   

body {
  background-color: var(--body-bg);
}

.ph {
  height: 2.5%;
}

#title {
  height: 15%;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 75%;
  background-color: var(--primary-bg);
}

#title, #container {
  padding: 0;
  border: thin solid grey;
  -webkit-box-shadow: inset 0px 0px 300px -4px var(--shadow-color);
  -moz-box-shadow: inset 0px 0px 300px -4px var(--shadow-color);
  box-shadow: inset 0px 0px 300px -4px var(--shadow-color);
}

@media only screen and (min-width: 768px) {
  #title, #container {
      border-radius: 10px;
  }

  p {
    font-size: 50px;
  }

  #activityContainer {
    height: 12.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
  }

  #activityContainer > form > * {
    height: 10%;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form > * {
    margin-right: 0.6vw;
  }

  #taskDetails {
    height: 12.5%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
  }

  #detailParagraph {
    font-size: 1.8vw;
    text-align: center;
    padding: 0;
    margin: 0;
    border-right: 1px solid grey;
  }

  #detailParagraph:last-child {
    border-right: none;
  }

  #tasksContainer {
    height: 75%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: scroll;
  }

  .task {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
  }

  .task > p {
    font-size: 1.8vw;
    margin: 0;
    padding: 0.2vw;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .task > p > button {
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 35px;
  }

  #activityContainer {
    border: thin solid red;
    display: block;
    text-align: center;
    margin: 0;
    padding: auto;
    height: 25%;
  }

  #activityContainer > form > * {
    width: 100%;
  }

  #taskDetails {
    display: none;
  }
}

p#titleParagraph {
  margin: 0;
  padding: 0;
  color: brown;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}