:root {
  --body-bg:  rgb(192, 210, 228);
  --primary-bg: rgb(224, 240, 255);
  --shadow-color:  rgb(152, 205, 255);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-bg);
}

.ph {
  height: 5%;
}

#title {
  height: 20%;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 65%;
  background-color: var(--primary-bg);
}

#title, #container {
  border: thin solid grey;
  -webkit-box-shadow: inset 0px 0px 300px -4px var(--shadow-color);
  -moz-box-shadow: inset 0px 0px 300px -4px var(--shadow-color);
  box-shadow: inset 0px 0px 300px -4px var(--shadow-color);
}

@media only screen and (min-width: 768px) {
  #title, #container {
      border-radius: 10px;
  }
}